@import 'tailwindcss' source(none);
@source '../**/*.{js,ts,jsx,tsx}';

@import 'tw-animate-css';

body {
  font-family: var(--font-family);
}

h1, h2, h3 {
  font-family: var(--font-family-heading);
}

code, pre {
  font-family: var(--font-family-mono);
}